#circle-packing .node {
  cursor: pointer;
}

#circle-packing .node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

#circle-packing .node--leaf {
  fill: white;
}

#circle-packing .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

#circle-packing .label,
#circle-packing .node--root,
#circle-packing .node--leaf {
  pointer-events: none;
}