#line-chart .axis path,
#line-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#line-chart .x.axis path {
  display: none;
}

#line-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}